.dplayer-toggle {
    width: 35px;
    height: 22px;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
    position: absolute;
    input {
        max-height: 0;
        max-width: 0;
        display: none;
    }
    input + label {
        display: inline-block;
        position: relative;
        height: 22px;
        width: 35px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: rgb(60, 60, 60);
        transition: 0.2s ease-in-out;
    }
    input + label:before {
        content: '';
        position: absolute;
        display: block;
        height: 18px;
        width: 18px;
        top: 50%;
        transform: translateY(-50%);
        left: 1px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }
    input + label:after {
        content: '';
        position: absolute;
        font-size: 13px;
        color: rgb(60, 60, 60);
        line-height: 18px;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        border-radius: 15px;
        background: #fff;
        transition: 0.2s ease-in-out;
        height: 18px;
        width: 18px;
    }
    input:checked + label {
        background-color: rgb(0, 161, 214);
    }
    input:checked + label:before {
        width: 30px;
        background-color: rgb(0, 161, 214);
    }
    input:checked + label:after {
        color: rgb(0, 161, 214);
    }
    input:checked + label:after {
        left: 15px;
    }
}
