.dplayer-toggle {
    width: 32px;
    height: 20px;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    right: 10px;
    input {
        max-height: 0;
        max-width: 0;
        display: none;
    }
    input + label {
        display: inline-block;
        position: relative;
        height: 18px;
        width: 30px;
        border-radius: 10px;
        background: rgb(60, 60, 60);
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    input + label:before {
        content: '';
        position: absolute;
        display: block;
        height: 18px;
        width: 18px;
        top: 0;
        left: 0;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }
    input + label:after {
        content: '';
        position: absolute;
        font-size: 13px;
        color: rgb(60, 60, 60);
        line-height: 18px;
        display: block;
        left: 0;
        top: 0;
        border-radius: 15px;
        background: #fff;
        transition: 0.2s ease-in-out;
        height: 18px;
        width: 18px;
    }
    input:checked + label {
        border-color: rgba(255, 255, 255, 0.5);
    }
    input:checked + label:before {
        width: 30px;
        background-color: rgb(0, 161, 214);
    }
    input:checked + label:after {
        color: rgb(0, 161, 214);
    }
    input:checked + label:after {
        left: 12px;
    }
}
